<div style="width:90%px; padding:4%;">
        <h1 style="color:#4bbf73;text-align:center;">Med@work</h1>

        <p>Sujet: {{ subject}}.</p><br>

        <p>Message envoyé de: {{ name }}</p><br>

        <p>Email: {{ email }}</p><br>

        <p>Message: {{ message}}</p><br>

        
    </div>
  

